In [1]:
#Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup as bs
import requests as rq
import re
import datetime as dt
import os
import tables

In [2]:
#close any open h5 files
tables.file._open_files.close_all()

In [3]:
#open the price file
src_fldr_pth = r'C:\\Users\\Robert\\Documents\\python_scripts\\stock_trading_ml_modelling\\historical_prices\\'
hist_prices_d_df = pd.read_hdf(src_fldr_pth + r'all_hist_prices_d.h5')
print(hist_prices_d_df.shape)
hist_prices_d_df.head()

(1222341, 13)

,ticker,date,open,close,high,low,change,volume,ema12,ema26,macd_line,signal,macd
0,III,2008-01-02,995.0,1005.0,1023.0,995.0,10.0,785944.0,NaN,NaN,NaN,NaN,NaN
1,III,2008-01-03,1005.0,988.0,1020.0,981.0,-17.0,1805560.0,NaN,NaN,NaN,NaN,NaN
2,III,2008-01-04,985.5,965.0,1000.0,964.0,-20.5,1920061.0,NaN,NaN,NaN,NaN,NaN
3,III,2008-01-07,967.5,971.5,974.0,953.0,4.0,3167216.0,NaN,NaN,NaN,NaN,NaN
4,III,2008-01-08,975.0,978.5,989.0,971.5,3.5,2297118.0,NaN,NaN,NaN,NaN,NaN

In [4]:
new_hist_prices_d_df = hist_prices_d_df[hist_prices_d_df.ticker != 'AGT']
print(new_hist_prices_d_df.shape)

(1222341, 13)

In [5]:
hist_prices_w_df = pd.read_hdf(src_fldr_pth + r'all_hist_prices_w.h5')
print(hist_prices_w_df.shape)
hist_prices_w_df.head()

(257332, 13)

,ticker,date,high,low,volume,open,close,change,ema12,ema26,macd_line,signal,macd
0,III,2007-12-31,1023.0,964.0,4511565.0,995.0,965.0,-30.0,NaN,NaN,NaN,NaN,NaN
1,III,2008-01-07,989.0,917.5,16056554.0,967.5,924.0,-43.5,NaN,NaN,NaN,NaN,NaN
2,III,2008-01-14,936.0,881.0,21691287.0,917.0,901.0,-16.0,NaN,NaN,NaN,NaN,NaN
3,III,2008-01-21,965.0,847.0,17850580.0,891.0,917.5,26.5,NaN,NaN,NaN,NaN,NaN
4,III,2008-01-28,971.0,903.0,12079245.0,911.0,961.0,50.0,NaN,NaN,NaN,NaN,NaN

In [6]:
new_hist_prices_w_df = hist_prices_w_df[hist_prices_w_df.ticker != 'AGT']
print(new_hist_prices_w_df.shape)

(257332, 13)

In [7]:
col_lens = {'ticker': 4,
 'date': 19,
 'open': 7,
 'close': 7,
 'high': 7,
 'low': 7,
 'change': 21,
 'volume': 12,
 'ema12': 18,
 'ema26': 18,
 'macd_line': 23,
 'signal': 23,
 'macd': 23}
hf_store_name_d = src_fldr_pth + r'all_hist_prices_d_TMP.h5'
hf_d = pd.HDFStore(hf_store_name_d)
group_name_d = r'daily_data'
hf_store_name_w = src_fldr_pth + r'all_hist_prices_w_TMP.h5'
hf_w = pd.HDFStore(hf_store_name_w)
group_name_w = r'weekly_data'

In [8]:

new_hist_prices_d_df.to_hdf(hf_store_name_d,key=group_name_d,min_itemsize=col_lens)
new_hist_prices_w_df.to_hdf(hf_store_name_w,key=group_name_w,min_itemsize=col_lens)

In [9]:
#close any open h5 files
tables.file._open_files.close_all()

Closing remaining open files:C:\\Users\\Robert\\Documents\\python_scripts\\stock_trading_ml_modelling\\historical_prices\\all_hist_prices_d_TMP.h5...doneC:\\Users\\Robert\\Documents\\python_scripts\\stock_trading_ml_modelling\\historical_prices\\all_hist_prices_w_TMP.h5...done

In [10]:
# #Delete the old h5 file and rename the TMP
try:
    os.remove(src_fldr_pth + r'all_hist_prices_d.h5')
    print('\nSUCCESSFULLY REMOVED {}'.format(src_fldr_pth + r'all_hist_prices_d.h5'))
except Exception as e:
    print('\nERROR - REMOVING:{}'.format(e))
try:
    os.rename(src_fldr_pth + r'all_hist_prices_d_TMP.h5',src_fldr_pth + r'all_hist_prices_d.h5')
    print('\nSUCCESSFULLY RENAMED {} TO {}'.format(src_fldr_pth + r'all_hist_prices_d_TMP.h5',src_fldr_pth + r'all_hist_prices_d.h5'))
except Exception as e:
    print('\nERROR - RENAMING:{}'.format(e))

SUCCESSFULLY REMOVED C:\\Users\\Robert\\Documents\\python_scripts\\stock_trading_ml_modelling\\historical_prices\\all_hist_prices_d.h5

SUCCESSFULLY RENAMED C:\\Users\\Robert\\Documents\\python_scripts\\stock_trading_ml_modelling\\historical_prices\\all_hist_prices_d_TMP.h5 TO C:\\Users\\Robert\\Documents\\python_scripts\\stock_trading_ml_modelling\\historical_prices\\all_hist_prices_d.h5

In [11]:

try:
    os.remove(src_fldr_pth + r'all_hist_prices_w.h5')
    print('\nSUCCESSFULLY REMOVED {}'.format(src_fldr_pth + r'all_hist_prices_w.h5'))
except Exception as e:
    print('\nERROR - REMOVING:{}'.format(e))
try:
    os.rename(src_fldr_pth + r'all_hist_prices_w_TMP.h5',src_fldr_pth + r'all_hist_prices_w.h5')
    print('\nSUCCESSFULLY RENAMED {} TO {}'.format(src_fldr_pth + r'all_hist_prices_w_TMP.h5',src_fldr_pth + r'all_hist_prices_w.h5'))
except Exception as e:
    print('\nERROR - RENAMING:{}'.format(e))

SUCCESSFULLY REMOVED C:\\Users\\Robert\\Documents\\python_scripts\\stock_trading_ml_modelling\\historical_prices\\all_hist_prices_w.h5

SUCCESSFULLY RENAMED C:\\Users\\Robert\\Documents\\python_scripts\\stock_trading_ml_modelling\\historical_prices\\all_hist_prices_w_TMP.h5 TO C:\\Users\\Robert\\Documents\\python_scripts\\stock_trading_ml_modelling\\historical_prices\\all_hist_prices_w.h5