In [4]:
#Import libraries
import pandas as pd
import numpy as np
import re
import tables
import os
import datetime as dt
from rf_modules import *

In [5]:
#Import the ftse list
path = r"C:\Users\Robert\Documents\python_scripts\stock_trading_ml_modelling\historical_prices"
tick_ftse = pd.read_csv(path + r"\tick_ftse.csv")
tick_ftse = tick_ftse.iloc[:,1:]
for col in tick_ftse:
    tick_ftse.rename(columns={col:clean_col_name(col)},inplace=True)
tick_ftse.head()
tick_ftse['ticker'] = [re.sub('(?=[0-9A-Z])*\.(?=[0-9A-Z]+)','-',tick) for tick in tick_ftse['ticker']]
tick_ftse['ticker'] = [re.sub('[^0-9A-Z\-]','',tick) for tick in tick_ftse['ticker']]

In [9]:
for tick in tick_ftse.ticker:
    print(tick)

III
ABF
ADM
AAL
ANTO
AHT
AZN
AUTO
AVV
AV
BA
BARC
BDEV
BKG
BHP
BP
BATS
BLND
BT-A
BNZL
BRBY
CCL
CNA
CCH
CPG
CRH
CRDA
DCC
DGE
EVR
EXPN
FERG
FLTR
FRES
GSK
GLEN
HLMA
HL
HIK
HSX
HSBA
IMB
INF
IHG
ITRK
IAG
ITV
JD
JMAT
KGF
LAND
LGEN
LLOY
LSE
MNG
MGGT
MRO
MNDI
MRW
NG
NXT
NMC
OCDO
PSON
PSN
PHNX
POLY
PRU
RDSA
RDSB
RB
REL
RTO
RMV
RIO
RR
RBS
RSA
SGE
SBRY
SDR
SMT
SGRO
SVT
SN
SMDS
SMIN
SKG
SPX
SSE
STJ
STAN
SLA
TW
TSCO
TUI
ULVR
UU
VOD
WTB
WPP
3IN
FOUR
888
ASL
AGK
AAF
AJB
ATST
APAX
ASCL
ASHM
AGR
AML
AVST
AGT
BME
BAB
BGFD
BAKK
BBY
BGEO
BNKR
BAG
BBGI
BEZ
BWY
BYG
BRSC
BCPT
BGSC
BOY
BVS
BRW
BVIC
CNE
CLDN
CAPC
CPI
CARD
CEY
CINE
CTY
CKN
CBG
CLI
COA
COB
CCC
GLO
CTEC
CSP
CWK
CRST
DJAN
DPH
DLN
DPLM
DLG
DC
DOM
DRX
DNLM
EZJ
EDIN
EIG
ECM
ELM
ENOG
ETO
EQN
ESNT
JEO
ERM
FCIT
FDM
FXPO
FEV
FSV
FCSS
FIN
FGT
FGP
FSJ
FSFL
FUTR
GFS
GFRD
GAW
GCP
DIGS
GSS
GNS
GOG
GPOR
GFTU
GRI
UKW
GNC
GRG
GVC
HMSO
HVPE
HSTG
HAS
HSL
HRI
HGT
HICL
HILS
HFG
HOC
HSV
HWDN
HTG
IBST
ICGT
IGG
IMI
INCH
ISAT
ICP
IHP
INPP
INVP
IPO
IWG
JLG
JII
JAM
JMG
JFJ
JUP
JE
KNOS
KAZ
LRE
LWDB
LMP
EMG
MKS
MSLH
MARS
MCS
MDC
MRC
MCRO
MAB
MONY
MNKS
MGAM
MYI
NEX
NBLS
NETW
NRR
NESF
OSB
OXIG
PAGE
PIN
PAG
PAY
PNN
PLI
PSH
PNL
PFC
PETS
PTEC
PLUS
PCT
PSSL
PLP
PPH
PMO
PHP
PFG
PRTC
PZC
QQ
QLT
RNK
RAT
RDW
TRIG
RSW
RTN
RHIM
RCP
RSE
ROR
RMG
SBRE
SAFE
SNN
SVS
SDP
SOI
SCIN
SNR
SEQI
SRP
SHB
SHI
SIG
SRE
SSON
SCT
SOPH
SXS
SPT
SPD
SSPG
SMP
SGC
SYNC
SYNT
TALK
TATE
TBCG
TEP
TMPL
TEM
TIFS
TCAP
TRY
TRN
TPK
BBOX
TLW
UDG
UKCM
ULE
UTG
VSVS
VCT
VEIL
VOF
VMUK
VVO
WOSG
WEIR
JDW
SMWH
WMH
WTAN
WIZZ
WG
WKP
WWH

In [3]:
#Import and combine prices files
df_prices_w = pd.read_hdf(path + r"\all_hist_prices_w.h5")
#Rename columns
for col in df_prices_w:
    df_prices_w.rename(columns={col:clean_col_name(col)},inplace=True)
#Drop unwanted columns
try:
    df_prices_w.drop(columns=["unnamed_0","index"],inplace=True)
except Exception as e:
    print(e)
#Reformat columns where neccessary
df_prices_w["date"] = df_prices_w["date"].astype("datetime64")
print(df_prices_w.shape)
print(df_prices_w.dtypes)
df_prices_w.head()

"['unnamed_0' 'index'] not found in axis"
(279659, 13)
ticker                 object
date           datetime64[ns]
high                  float64
low                   float64
volume                float64
open                  float64
close                 float64
change                float64
ema12                 float64
ema26                 float64
macd_line             float64
signal_line           float64
macd                  float64
dtype: object

,ticker,date,high,low,volume,open,close,change,ema12,ema26,macd_line,signal_line,macd
0,III,2007-12-31,1023.0,964.0,4511565.0,995.0,965.0,-30.0,NaN,NaN,NaN,NaN,NaN
1,III,2008-01-07,989.0,917.5,16056554.0,967.5,924.0,-43.5,NaN,NaN,NaN,NaN,NaN
2,III,2008-01-14,936.0,881.0,21691287.0,917.0,901.0,-16.0,NaN,NaN,NaN,NaN,NaN
3,III,2008-01-21,965.0,847.0,17850580.0,891.0,917.5,26.5,NaN,NaN,NaN,NaN,NaN
4,III,2008-01-28,971.0,903.0,12079245.0,911.0,961.0,50.0,NaN,NaN,NaN,NaN,NaN

In [14]:
tmp_df = df_prices_w[df_prices_w.ticker == 'SBRY']
tmp_df

,ticker,date,high,low,volume,open,close,change,ema12,ema26,macd_line,signal_line,macd
0,SBRY,1995-01-02,467.50,457.39,5693183.0,462.44,467.50,5.06,NaN,NaN,NaN,NaN,NaN
1,SBRY,1995-01-09,468.63,465.25,8897990.0,467.50,468.63,1.13,NaN,NaN,NaN,NaN,NaN
2,SBRY,1995-01-16,475.93,468.63,19116248.0,475.93,468.63,-7.30,NaN,NaN,NaN,NaN,NaN
3,SBRY,1995-01-23,487.73,464.13,17254990.0,464.13,487.73,23.60,NaN,NaN,NaN,NaN,NaN
4,SBRY,1995-01-30,484.92,477.62,13033720.0,484.92,484.36,-0.56,NaN,NaN,NaN,NaN,NaN
5,SBRY,1995-02-06,486.61,470.87,10108230.0,483.23,474.24,-8.99,NaN,NaN,NaN,NaN,NaN
6,SBRY,1995-02-13,474.24,468.63,8735360.0,474.24,468.63,-5.61,NaN,NaN,NaN,NaN,NaN
7,SBRY,1995-02-20,467.50,463.01,8985746.0,465.25,465.25,0.00,NaN,NaN,NaN,NaN,NaN
8,SBRY,1995-02-27,467.50,460.76,5955955.0,463.57,463.01,-0.56,NaN,NaN,NaN,NaN,NaN
9,SBRY,1995-03-06,466.38,456.83,7387136.0,460.76,466.38,5.62,NaN,NaN,NaN,NaN,NaN
10,SBRY,1995-03-13,480.42,465.25,9164398.0,465.25,480.42,15.17,NaN,NaN,NaN,NaN,NaN
11,SBRY,1995-03-20,488.85,482.11,10609516.0,488.85,482.11,-6.74,473.074167,NaN,NaN,NaN,NaN
12,SBRY,1995-03-27,492.57,478.74,3684750.0,478.74,491.43,12.69,475.898141,NaN,NaN,NaN,NaN
13,SBRY,1995-07-31,534.86,528.00,2851196.0,536.00,530.29,-5.71,484.266119,NaN,NaN,NaN,NaN
14,SBRY,1995-08-07,534.86,517.71,6027757.0,525.71,520.00,-5.71,489.763639,NaN,NaN,NaN,NaN
15,SBRY,1995-08-14,540.57,512.00,10389769.0,516.57,536.57,20.00,496.964618,NaN,NaN,NaN,NaN
16,SBRY,1995-08-21,541.71,534.86,5097993.0,537.14,541.71,4.57,503.848523,NaN,NaN,NaN,NaN
17,SBRY,1995-08-28,555.43,529.14,7209862.0,540.57,538.29,-2.28,509.147212,NaN,NaN,NaN,NaN
18,SBRY,1995-09-04,548.57,532.57,13194476.0,536.00,546.29,10.29,514.861487,NaN,NaN,NaN,NaN
19,SBRY,1995-09-11,548.00,534.86,7463489.0,544.00,541.60,-2.40,518.975104,NaN,NaN,NaN,NaN
20,SBRY,1995-09-18,539.43,512.00,10524578.0,534.86,516.00,-18.86,518.517396,NaN,NaN,NaN,NaN
21,SBRY,1995-09-25,517.71,491.43,11882599.0,514.29,499.20,-15.09,515.545489,NaN,NaN,NaN,NaN
22,SBRY,1995-10-02,499.43,488.00,9979527.0,496.34,492.57,-3.77,512.010798,NaN,NaN,NaN,NaN
23,SBRY,1995-10-09,500.57,485.71,15624514.0,489.14,497.14,8.00,509.722983,NaN,NaN,NaN,NaN
24,SBRY,1995-10-16,500.57,465.14,11426570.0,489.14,466.29,-22.85,503.040986,NaN,NaN,NaN,NaN
25,SBRY,1995-10-23,472.00,457.14,15934024.0,462.86,472.00,9.14,498.265449,494.856538,3.408911,NaN,NaN
26,SBRY,1995-10-30,488.00,437.71,26883312.0,470.86,438.86,-32.00,489.126150,490.708647,-1.582497,NaN,NaN
27,SBRY,1995-11-06,454.86,422.86,9546720.0,441.14,450.29,9.15,483.151357,487.714673,-4.563316,NaN,NaN
28,SBRY,1995-11-13,454.29,434.29,13192471.0,444.57,434.29,-10.28,475.634225,483.757290,-8.123064,NaN,NaN
29,SBRY,1995-11-20,445.71,420.57,16304474.0,436.57,429.71,-6.86,468.568960,479.753787,-11.184827,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1234,SBRY,2019-05-06,222.00,208.10,56053255.0,219.30,211.70,-7.60,233.529663,253.075528,-19.545865,-17.397736,-2.148129
1235,SBRY,2019-05-13,213.00,199.30,48201824.0,211.80,201.20,-10.60,228.555869,249.232896,-20.677027,-18.053594,-2.623433
1236,SBRY,2019-05-20,208.30,193.20,60870494.0,200.80,195.30,-5.50,223.439581,245.237867,-21.798286,-18.802533,-2.995753
1237,SBRY,2019-05-27,200.60,195.35,41928477.0,196.00,200.10,4.10,219.848876,241.894321,-22.045445,-19.451115,-2.594330
1238,SBRY,2019-06-03,205.80,193.55,60801658.0,199.65,197.40,-2.25,216.395203,238.598445,-22.203242,-20.001540,-2.201702
1239,SBRY,2019-06-10,199.45,192.70,55494872.0,198.05,193.90,-4.15,212.934403,235.287449,-22.353047,-20.471842,-1.881205
1240,SBRY,2019-06-17,199.20,192.40,74413609.0,193.55,195.85,2.30,210.306033,232.366157,-22.060124,-20.789498,-1.270626
1241,SBRY,2019-06-24,197.35,185.30,69472325.0,195.60,195.95,0.35,208.097413,229.668664,-21.571251,-20.945849,-0.625402
1242,SBRY,2019-07-01,207.60,194.00,57558994.0,196.05,205.30,9.25,207.667041,227.863578,-20.196536,-20.795986,0.599450
1243,SBRY,2019-07-08,208.20,199.25,51734484.0,205.40,199.60,-5.80,206.425958,225.769979,-19.344021,-20.505593,1.161572
1244,SBRY,2019-07-15,206.20,197.15,42226822.0,199.80,205.90,6.10,206.345041,224.298129,-17.953087,-19.995092,2.042005
1245,SBRY,2019-07-22,210.90,198.75,41495006.0,209.10,198.80,-10.30,205.184266,222.409379,-17.225113,-19.441096,2.215983
1246,SBRY,2019-07-29,202.30,192.10,40810287.0,199.00,195.35,-3.65,203.671302,220.404980,-16.733678,-18.899613,2.165934
1247,SBRY,2019-08-05,193.35,186.70,47983332.0,192.85,191.30,-1.55,201.768025,218.249056,-16.481031,-18.415896,1.934865
1248,SBRY,2019-08-12,193.70,177.05,44117729.0,192.00,182.50,-9.50,198.803713,215.600978,-16.797264,-18.092170,1.294906
1249,SBRY,2019-08-19,199.80,181.42,55367710.0,182.90,196.80,13.90,198.495450,214.208313,-15.712863,-17.616309,1.903446
1250,SBRY,2019-08-26,200.20,191.12,39117800.0,196.35,196.10,-0.25,198.126919,212.866956,-14.740037,-17.041054,2.301017
1251,SBRY,2019-09-02,203.00,194.20,37468487.0,196.10,201.60,5.50,198.661239,212.032367,-13.371128,-16.307069,2.935941
1252,SBRY,2019-09-09,222.40,199.85,61436062.0,202.60,221.40,18.80,202.159510,212.726265,-10.566756,-15.159006,4.592251
1253,SBRY,2019-09-16,224.50,212.80,40962295.0,220.00,215.90,-4.10,204.273432,212.961357,-8.687925,-13.864790,5.176865
1254,SBRY,2019-09-23,222.80,212.31,45313711.0,218.90,222.50,3.60,207.077519,213.667923,-6.590404,-12.409913,5.819509
1255,SBRY,2019-09-30,223.23,205.70,33549408.0,221.90,210.10,-11.80,207.542516,213.403632,-5.861116,-11.100154,5.239037
1256,SBRY,2019-10-07,218.30,201.80,43973239.0,209.00,214.60,5.60,208.628283,213.492252,-4.863969,-9.852917,4.988947
1257,SBRY,2019-10-14,222.00,205.35,37432908.0,213.60,216.20,2.60,209.793162,213.692826,-3.899664,-8.662266,4.762602
1258,SBRY,2019-10-21,218.60,210.60,33323742.0,215.50,212.30,-3.20,210.178830,213.589654,-3.410824,-7.611978,4.201154
1259,SBRY,2019-10-28,216.90,203.00,31714441.0,213.30,204.60,-8.70,209.320548,212.923754,-3.603205,-6.810223,3.207018
1260,SBRY,2019-11-04,20130.00,200.30,40859894.0,204.20,201.00,-3.20,208.040464,212.040513,-4.000049,-6.248188,2.248140
1261,SBRY,2019-11-11,209.00,198.50,40093188.0,200.00,204.80,4.80,207.541931,211.504178,-3.962247,-5.791000,1.828753
1262,SBRY,2019-11-18,214.80,202.90,57083109.0,202.90,214.40,11.50,208.597019,211.718684,-3.121665,-5.257133,2.135468
1263,SBRY,2019-11-25,222.00,214.00,38444640.0,214.00,220.90,6.90,210.489785,212.398781,-1.908996,-4.587506,2.678510

In [29]:
#Function to normalise current price compared to another
def norm_s(_s_in):
    """Function to normalise a series
    
    args:
    -----
    _s_in - pandas series - values to be looked at
    
    returns:
    ------
    pandas series - bools
    """
    _s_out = (_s_in - _s_in.min()) / (_s_in.max() - _s_in.min())
    return _s_out

In [ ]:
def close_vs_close(_var_s,_shift:int=1):
    """Function used to calculate the change over a given period
    
    args:
    -----
    _var_s - pandas series - values to be compared
    _shift - int - time period to shift _var_s over for comparison
    
    returns:
    ------
    pandas series - floats
    """
    _check_s = _var_s.shift(_shift) - _var_s
    return _check_s

In [36]:
#Function for finding the max within a given time period using indexes
def max_min_period(_s_in,_period:int=1,_normalise:bool=False,_max_min:str='max'):
    """Function for calculating the max and mins within a period
    
    args:
    -----
    _s_in - pandas series - the vlaues to be looked at
    _period - int:1 - the time window to look over
    _max_min - str:max - looking for the max or min
    _normalise - bool:False - should the returned value be normalised?
    
    returns:
    ------
    pandas series - floats
    """
    #Find the min index
    _min_i = _s_in.index.min()
    if _normalise:
        _s_max = pd.Series([_s_in.loc[x-_period if x-_period >= _min_i else _min_i:x].max() for x in _s_in.index])
        _s_min = pd.Series([_s_in.loc[x-_period if x-_period >= _min_i else _min_i:x].min() for x in _s_in.index])
        _s_out = (_s_in - _s_min) / (_s_max - _s_min)
    else:
        #Get the max or min within a time period, ensuring not to go into negative indexes
        if _max_min == 'max':
            _s_out = pd.Series([_s_in.loc[x-_period if x-_period >= _min_i else _min_i:x].max() for x in _s_in.index])
        elif _max_min == 'min':
            _s_out = pd.Series([_s_in.loc[x-_period if x-_period >= _min_i else _min_i:x].min() for x in _s_in.index])
        else:
            raise ValueError('_max_min must be either \'max\' or \'min\'')
    return pd.Series(_s_out)

In [53]:
#Function for calculating the percentage change within a range
def per_change_in_range(_s_in,_period:int=1,**kwargs):
    """Function for calculating the percentage change of a value from it's max or min within a range
    
    args:
    -----
    _s_in - pandas series - the vlaues to be looked at
    _period - int:1 - the time window to look over
    
    returns:
    ------
    pandas series - floats
    """
    return ((_s_in - max_min_period(_s_in,_period,_normalise=False,**kwargs)) / max_min_period(_s_in,_period,_normalise=False,**kwargs)).head(50)

In [54]:
per_change_in_range(tmp_df.close,13,_max_min='max')

0     0.000000
1     0.000000
2     0.000000
3     0.000000
4    -0.006910
5    -0.027659
6    -0.039161
7    -0.046091
8    -0.050684
9    -0.043774
10   -0.014988
11   -0.011523
12    0.000000
13    0.000000
14   -0.019404
15    0.000000
16    0.000000
17   -0.006313
18    0.000000
19   -0.008585
20   -0.055447
21   -0.086200
22   -0.098336
23   -0.089971
24   -0.146442
25   -0.135990
26   -0.196654
27   -0.175731
28   -0.205019
29   -0.213403
30   -0.192480
31   -0.231599
32   -0.220292
33   -0.160581
34   -0.100280
35   -0.124130
36   -0.071268
37    0.000000
38   -0.067146
39   -0.062341
40   -0.071931
41   -0.074344
42   -0.086325
43   -0.099524
44   -0.091130
45   -0.109113
46   -0.103112
47   -0.128292
48   -0.095915
49   -0.100720
dtype: float64

In [47]:
max_min_period(tmp_df.close,13,_normalise=False,_max_min='max').head(50)

0     467.50
1     468.63
2     468.63
3     487.73
4     487.73
5     487.73
6     487.73
7     487.73
8     487.73
9     487.73
10    487.73
11    487.73
12    491.43
13    530.29
14    530.29
15    536.57
16    541.71
17    541.71
18    546.29
19    546.29
20    546.29
21    546.29
22    546.29
23    546.29
24    546.29
25    546.29
26    546.29
27    546.29
28    546.29
29    546.29
30    546.29
31    546.29
32    541.60
33    516.00
34    499.20
35    497.14
36    497.14
37    476.57
38    476.57
39    476.57
40    476.57
41    476.57
42    476.57
43    476.57
44    476.57
45    476.57
46    476.57
47    476.57
48    476.57
49    476.57
dtype: float64

In [42]:
tmp_df.close.head(50)

0     467.50
1     468.63
2     468.63
3     487.73
4     484.36
5     474.24
6     468.63
7     465.25
8     463.01
9     466.38
10    480.42
11    482.11
12    491.43
13    530.29
14    520.00
15    536.57
16    541.71
17    538.29
18    546.29
19    541.60
20    516.00
21    499.20
22    492.57
23    497.14
24    466.29
25    472.00
26    438.86
27    450.29
28    434.29
29    429.71
30    441.14
31    419.77
32    422.29
33    433.14
34    449.14
35    435.43
36    461.71
37    476.57
38    444.57
39    446.86
40    442.29
41    441.14
42    435.43
43    429.14
44    433.14
45    424.57
46    427.43
47    415.43
48    430.86
49    428.57
Name: close, dtype: float64